{% extends 'base.html.twig' %}

{% block body %}
    <div style="display: flex; gap: 30px; justify-content: center; margin-top: 100px;">
        <a class="home-btn" href="{{ path('post_index') }}">Пости</a>
        <a class="home-btn" href="{{ path('tag_index') }}">Теги</a>
    </div>
{% endblock %}
